[Unit]
Description=netdata real-time system monitoring
After=network.target apache2.service

[Service]
Type=simple
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/apps/nastools-netdata/sbin/netdata -D -P /var/run/nastools-netdata.pid

[Install]
WantedBy=multi-user.target
